:root {
  --blue-light: #6943ff;
  --blue-dark: #1f2937;
  --button-clr: #3d3d3d;
  --button-bg: #fff;
  --measures-heading: #ccc1ff;
}

body {
  margin: 0;
  color: var(--button-bg);
}

.blue-light {
  background-color: var(--blue-light);
  color: var(--button-bg);
}

.blue-dark {
  background-color: var(--blue-dark);
}

h1 {
  padding: 33px 0 30px;
}

h2 {
  color: var(--measures-heading);
}

.converter {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.form-el {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  width: 117px;
  height: 83px;
  background-color: transparent;
  color: var(--button-bg);
  font-size: 50px;
  border: 1px solid #b295ff;
  border-radius: 5px;
  text-align: center;
}
input:focus {
  outline: 1px solid var(--button-bg);
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 20px 0 30px;
}
.converter--container {
  padding: 10px 0;
}

.measures {
  background-color: #273549;
  width: 500px;
  margin-inline: auto;
}

.warning {
  background-color: var(--measures-heading);
  color: rgb(250, 0, 0);
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 2px;
  padding: 1px 2px;
  border-radius: 2px;
}
